{%extends 'core/base.html'%}

{%block title%} {%endblock%}

{%load static%}

{%block content%}



  <div class="container" id="about">

    <div class="row h-100">

      <div class="col-sm-12 my-auto">
        <div class="card" style="margin-top: 5%;">

          <div class="card-body" style="padding: 4%;">

            <div class="row">
              <div class="col-lg-6 main-txt">

                <h2 class="text-white text-left font-weight-bold">WHO AM I?</h2>

                <p class="text-white">I'm Yadhu Krishna c s, a BCA graduated Full-Stack Web Developer based in
                  Kerala-India.
                  2 Years work experience in IT industry.
                </p>


                <div class="d-md-none d-xl-none d-sm-block text-center">

                  <img src="{%static ''%}core/images/yadhu.jpg">

                </div>



                <div class="container-fluid  mt-3 mb-5">
                  <div class="dw-btn d-none d-md-block d-xl-block"> <a class="btn btn-danger btn-md" href="images/yadhukrishna_resume.pdf"
                      download>Download CV<i class="fa fa-download pl-2"></i></a></div>

                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto">
                      <div class="carousel-item col-md-6 active">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title" style="text-decoration: none;">Education</h4>
                            <h6 style="font-size: 12px;">DEGREE 2013-2016</h6>

                            <ul>
                              <li> <span style="font-size: 12px;">BCA

                                  <a href="http://cmctsr.org/">@CHIMAYA MISSION COLLEGE THRISSUR</a> </span></li>

                            </ul>


                            <h6 style="font-size: 12px;">CLASS XII 2011-2013</h6>

                            <ul>
                              <li> 
                                <span style="font-size: 12px;">COMPUTER-SCIENCE 
                                  <a
                                    href="https://goo.gl/maps/XMvnDmAtwaM6XC197"> @GOVT. HSS, AYYANTHOLE, THRISSUR</a></span>
                              </li> 
                              <br>
                      
                            </ul>
                          </div>
                        </div>
                    
                      </div>
                      <div class="carousel-item col-md-6">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title" style="text-decoration: none;">Experience</h4>
                            <h6 style="font-size: 12px;">WEB DEVELOPER 2019-SEP - 2020-DEC</h6>
                            <ul>

                              <li>
                                <span style="font-size: 12px;"> <a href="https://nexhe.com/">@Nexhe digital PVT LTD
                                    Thrissur</a> </span></li>
                            
                            </ul>

                            <h6 style="font-size: 12px;">FACILITY MANAGEMENT ENGINEER 2017-JUN - 2017-DEC</h6>
                            <ul>
                              <li> <span style="font-size: 12px;"><a href="http://www.datalinkconsultancy.comF">Data
                                    Link Consultancy</a> <a href="https://www.csb.co.in/"> @Client
                                    Location CSB BANK</a></span>
                                    </li> 
                                  </ul>
                          </div>
                        </div>
                      </div>


                    </div>

                    <div class="container">
                      <div class="row">
                        <div class="col-12  mt-7 ml-md-5 text-md-left text-lg-left text-center">
                          <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                            <i class="fa fa-lg fa-chevron-left"></i>
                          </a>
                          <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                            <i class="fa fa-lg fa-chevron-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="d-md-none d-xl-none d-sm-block mt-3 text-center"> <a class="btn btn-mob btn-danger btn-md" href="images/yadhukrishna_resume.pdf"
                      download>Download CV<i class="fa fa-download pl-2"></i></a></div>
                  </div>


                </div>


              </div>

   

              <div class="d-none col-lg-6 d-md-block d-xl-block ">

                <img src="{%static ''%}core/images/yadhu.jpg">

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>


  </div>


  <ul class="circles">
    <li class="text-center py-4"><i class="fab fa-html5"></i></li>
    <li class="text-center"><i class="fab fa-aws"></i></li>
    <li class="text-center py-1"><i class="fab fa-js"></i></li>
    <li class="text-center py-3"><i class="fab fa-github"></i></li>
    <li class="text-center"><i class="fab fa-react"></i></li>
    <li class="text-center py-5"><i class="fab fa-git"></i></li>
    <li class="text-center py-5"><i class="fab fa-css3-alt"></i></li>
    <li class="text-center py-2"><i class="fab fa-node"></i></li>
    <li class="text-center"><i class="fab fa-ubuntu"></i></li>
    <li class="text-center py-5"><i class="fab fa-python"></i></li>
  </ul>

  

  {%endblock%}