{%extends 'core/base.html'%}

{%block title%}Contact-{%endblock%}

{%load static%}

{%block content%}
  
  
  
  
  
  <div class="container"  id="contact">

    <div class="row h-100">

      <div class="col-sm-12" style="margin-top: 7%;">
        <div class="card">

          <div class="card-body" style="padding: 4%;">

            <div class="row">
              <div class="col-lg-6 main-txt">

                <h2 class="text-white text-left font-weight-bold">
                  GET IN TOUCH!</h2>


                  <form method="POST" id="contact-form">
                    {%csrf_token%}
                    <input type="hidden" name="type" value="contact">
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" name="name" id="inputName" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Phone</label>
                        <input type="number" class="form-control" name="phone" id="inputPhone" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail4">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Subject</label>
                        <input type="text" class="form-control" name="subject" id="inputSubj" required>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="Message">Message</label>
                        <textarea class="form-control" id="Message" name="message" rows="3" required></textarea>
                      </div>
                     
          
  
                      <div class="form-group col-md-6">
                        <div class="g-recaptcha" data-sitekey="6Ld1tOQUAAAAADNy4qJuHTO9q-cUF2gztjOU7hln"></div>
                      </div>
  
                      <div class="form-group cnt-sbmt col-md-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
               
                    
                  
                  </form>


              </div>




              <div class="col-lg-4 contact-rt-box mt-sm-3 mt-md-3">

               
                <a style="text-decoration: none;" href="tel:+916238585990"><div class="contact-row text-white  mt-md-5">
               
                  <i class="fa fa-phone text-white"></i>+91 62 38 58 59 90
              </div></a>

              <a style="text-decoration: none;" href="infoyadhu@gmail.com"> <div class="contact-row text-white">
                <i class="fa fa-envelope"></i> infoyadhu@gmail.com
            </div></a>
            <div class="social">
              <!-- <a href=""><span><i class="text-white fab fa-facebook-square "></i></span></a>  -->
              <a href="https://www.linkedin.com/in/yadhu-krishna-cs
              "><span><i class="text-white fab fa-linkedin pl-3"></i></span></a> 
              <a href="https://www.instagram.com/krishn__yadhu/"><span><i class="text-white fab fa-instagram-square pl-3"></i></span></a>
              <a href="https://github.com/yadhukrishna7195"> <span><i class="text-white fab fa-github-square pl-3"></i></span></a>
               <!-- <span><i class="fab fas fa-envelope"></i></span> -->
              </div> 
                
                        </div>
                 

            </div>

          </div>
        </div>
      </div>

    </div>


  </div>

  <ul class="circles">
    <li class="text-center py-4"><i class="fab fa-html5"></i></li>
    <li class="text-center"><i class="fab fa-aws"></i></li>
    <li class="text-center py-1"><i class="fab fa-js"></i></li>
    <li class="text-center py-3"><i class="fab fa-github"></i></li>
    <li class="text-center"><i class="fab fa-react"></i></li>
    <li class="text-center py-5"><i class="fab fa-git"></i></li>
    <li class="text-center py-5"><i class="fab fa-css3-alt"></i></li>
    <li class="text-center py-2"><i class="fab fa-node"></i></li>
    <li class="text-center"><i class="fab fa-ubuntu"></i></li>
    <li class="text-center py-5"><i class="fab fa-python"></i></li>
  </ul>

  {%endblock%}

  {%block js%}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('#contact-form').submit(function (ev) {


            $('button').prop('disabled', true)

            ev.preventDefault();

            if (this.method != 'get') {
                var formData = new FormData($(this)[0]);



                $.ajax({
                    type: 'POST',
                    url: "{%url 'contact'%}",
                    data: formData,
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        $('button').prop('disabled', false)


                        if (data.status == 'success') {

                            swal(data.message, {
                                icon: "success",
                                timer: 3000,
                            }).then(setTimeout(location.reload.bind(location), 3000));
                        } else {


                            swal(data.message);

                        }



                    }

                });


            } else {

                this.submit()

            }



        });

    </script>



  {%endblock%}