{%extends 'core/base.html'%}

{%block title%} {%endblock%}

{%load static%}

{%block content%}

  <div class="container" id="home">

    <div class="row h-100">

      <div class="col-sm-12 my-auto">
        <div class="card">

          <div class="card-body" style="padding: 14%;">

            <div class="row">
              <div class="col-lg-6 main-txt">

                <h2 class="text-white text-left font-weight-bold">Hey!Let's Talk</h2>
                <h2 class="text-white text-left font-weight-bold" style="font-family: monospace;">About Yadhu Krishna...
                </h2>
                

              </div>

              <div class="col-lg-6">

                <p class="text-white">I'm a full-stack Web Developer based in Kerala India.
                  I’m available for hire on a very limited basis for fun things like HTML, CSS, JavaScript, Bootstrap,
                  Python, Django...</p>

              </div>

              <div class="social">
                <!-- <a href=""><span><i class="text-white fab fa-facebook-square "></i></span></a>  -->
                <a href="https://www.linkedin.com/in/yadhu-krishna-cs
                "><span><i class="text-white fab fa-linkedin pl-3"></i></span></a> 
                <a href="https://www.instagram.com/krishn__yadhu/"><span><i class="text-white fab fa-instagram-square pl-3"></i></span></a>
                <a href="https://github.com/yadhukrishna7195"> <span><i class="text-white fab fa-github-square pl-3"></i></span></a>
                 <!-- <span><i class="fab fas fa-envelope"></i></span> -->
                </div> 
        
                </div>

    </div>
            </div>
          </div>
        </div>

      </div>


    </div>


  </div>





  </div>





  </div>





  <ul class="circles">
    <li class="text-center py-4"><i class="fab fa-html5"></i></li>
    <li class="text-center"><i class="fab fa-aws"></i></li>
    <li class="text-center py-1"><i class="fab fa-js"></i></li>
    <li class="text-center py-3"><i class="fab fa-github"></i></li>
    <li class="text-center"><i class="fab fa-react"></i></li>
    <li class="text-center py-5"><i class="fab fa-git"></i></li>
    <li class="text-center py-5"><i class="fab fa-css3-alt"></i></li>
    <li class="text-center py-2"><i class="fab fa-node"></i></li>
    <li class="text-center"><i class="fab fa-ubuntu"></i></li>
    <li class="text-center py-5"><i class="fab fa-python"></i></li>
  </ul>






  {%endblock%}