{%extends 'core/base.html'%}

{%block title%} {%endblock%}

{%load static%}

{%block content%}



<div class="container" id="skill">

    <div class="row h-100">

      <div class="col-sm-12 my-auto">
        <div class="card mt-md-5">

          <div class="card-body">

            <div class="row">
              <!-- <div class="col-lg-6 main-txt">
                
               
             
              </div> -->

              <div class="col-lg-12">
                <h6 class="text-white text-left">SKILLS</h6>
                <h2 class="text-white text-left font-weight-bold">What I'M GOOD</h2>


                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">HTML/CSS</div>
                </div>

                <br>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Bootstrap</div>
                </div>
                <br>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">JavaScript</div>
                </div>
                <br>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Python</div>
                </div>

                <br>


                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Django</div>
                </div>
                <br>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Sql</div>
                </div>
                <br>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Git</div>
                </div>



                <br>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Linux</div>
                </div>






              </div>
            </div>
          </div>
        </div>

      </div>


    </div>


  </div>

  
  <ul class="circles">
    <li class="text-center py-4"><i class="fab fa-html5"></i></li>
    <li class="text-center"><i class="fab fa-aws"></i></li>
    <li class="text-center py-1"><i class="fab fa-js"></i></li>
    <li class="text-center py-3"><i class="fab fa-github"></i></li>
    <li class="text-center"><i class="fab fa-react"></i></li>
    <li class="text-center py-5"><i class="fab fa-git"></i></li>
    <li class="text-center py-5"><i class="fab fa-css3-alt"></i></li>
    <li class="text-center py-2"><i class="fab fa-node"></i></li>
    <li class="text-center"><i class="fab fa-ubuntu"></i></li>
    <li class="text-center py-5"><i class="fab fa-python"></i></li>
  </ul>



  {%endblock%}